In [ ]:

library(tidyverse) 



list.files(path = "/kaggle/input/heart-disease-uci-modified")

[1] "heart_disease_uci - modified.csv"

Load dataset

In [ ]:
library(dplyr)



mydata <- read.csv("/kaggle/input/heart-disease-uci-modified/heart_disease_uci - modified.csv", header = TRUE, sep = ",", na.strings = c("?", "", "NA"))

# Check structure and first few rows
str(mydata)
head(mydata)

'data.frame':	216 obs. of  16 variables:
 $ id      : int  1 2 3 4 5 6 7 8 9 10 ...
 $ age     : int  63 67 67 37 41 56 62 57 63 53 ...
 $ sex     : chr  "Male" "Male" "Male" "Male" ...
 $ dataset : chr  "Cleveland" "Cleveland" "Cleveland" "Cleveland" ...
 $ cp      : chr  "typical angina" "asymptomatic" "asymptomatic" "non-anginal" ...
 $ trestbps: num  145 160 120 130 130 120 140 120 130 140 ...
 $ chol    : int  233 286 229 250 204 236 268 354 254 203 ...
 $ fbs     : logi  TRUE FALSE FALSE FALSE FALSE FALSE ...
 $ restecg : chr  "lv hypertrophy" "lv hypertrophy" "lv hypertrophy" "normal" ...
 $ thalch  : int  150 108 129 187 172 178 160 163 147 155 ...
 $ exang   : logi  FALSE TRUE TRUE FALSE FALSE FALSE ...
 $ oldpeak : num  2.3 1.5 2.6 3.5 1.4 0.8 3.6 0.6 1.4 3.1 ...
 $ slope   : chr  "downsloping" "flat" "flat" "downsloping" ...
 $ ca      : int  0 3 2 0 0 0 2 0 1 0 ...
 $ thal    : chr  "fixed defect" "normal" "reversable defect" "normal" ...
 $ num     : int  0 1 1 0 0 0 1 0 1 1 ...

  id age sex    dataset   cp              trestbps chol fbs   restecg
1 1  63  Male   Cleveland typical angina  145      233   TRUE lv hypertrophy
2 2  67  Male   Cleveland asymptomatic    160      286  FALSE lv hypertrophy
3 3  67  Male   Cleveland asymptomatic    120      229  FALSE lv hypertrophy
4 4  37  Male   Cleveland non-anginal     130      250  FALSE normal
5 5  41  Female Cleveland atypical angina 130      204  FALSE lv hypertrophy
6 6  56  Male   Cleveland atypical angina 120      236  FALSE normal
  thalch exang oldpeak slope       ca thal              num
1 150    FALSE 2.3     downsloping 0  fixed defect      0
2 108     TRUE 1.5     flat        3  normal            1
3 129     TRUE 2.6     flat        2  reversable defect 1
4 187    FALSE 3.5     downsloping 0  normal            0
5 172    FALSE 1.4     upsloping   0  normal            0
6 178    FALSE 0.8     upsloping   0  normal            0

******Read & Inspect Data******

ekhne thal er ta dekhacche na je 1 ta missing value ache.... so ami read . csv er mmdhe change anle sheta better hbemydata <- read.csv("/kaggle/input/heart-disease-uci-modified/heart_disease_uci - modified.csv", header = TRUE, sep = ",") THEKEK AMRA ETA mydata <- read.csv("heart_disease_uci - modified.csv", na.strings = c("?", "", "NA")) ekhne joto type er missing value thauk na kno it will covert into an NA  colSums(is.na(mydata)) TOKHN READ KORTE PARBE

 Summary statistics and Count missing values in each column

In [ ]:

summary(mydata)
colSums(is.na(mydata))

       id              age            sex              dataset
 Min.   :  1.00   Min.   :29.00   Length:216         Length:216
 1st Qu.: 54.75   1st Qu.:48.00   Class :character   Class :character
 Median :108.50   Median :55.00   Mode  :character   Mode  :character
 Mean   :108.50   Mean   :54.49
 3rd Qu.:162.25   3rd Qu.:61.00
 Max.   :216.00   Max.   :77.00
                  NA's   :2
      cp               trestbps          chol           fbs
 Length:216         Min.   : 12.5   Min.   : 126.0   Mode :logical
 Class :character   1st Qu.:120.0   1st Qu.: 216.8   FALSE:179
 Mode  :character   Median :130.0   Median : 246.0   TRUE :37
                    Mean   :132.2   Mean   : 266.7
                    3rd Qu.:140.0   3rd Qu.: 282.0
                    Max.   :200.0   Max.   :3600.0

   restecg              thalch        exang            oldpeak
 Length:216         Min.   : 88.0   Mode :logical   Min.   :0.000
 Class :character   1st Qu.:139.0   FALSE:143       1st Qu.:0.000
 Mode  :character   Median :154.5   TRUE :73        Median :0.800
                    Mean   :151.2                   Mean   :1.101
                    3rd Qu.:166.0                   3rd Qu.:1.650
                    Max.   :202.0                   Max.   :6.200

    slope                 ca             thal                num
 Length:216         Min.   :0.0000   Length:216         Min.   :0.0000
 Class :character   1st Qu.:0.0000   Class :character   1st Qu.:0.0000
 Mode  :character   Median :0.0000   Mode  :character   Median :0.0000
                    Mean   :0.6869                      Mean   :0.4537
                    3rd Qu.:1.0000                      3rd Qu.:1.0000
                    Max.   :3.0000                      Max.   :1.0000
                    NA's   :2

      id      age      sex  dataset       cp trestbps     chol      fbs
       0        2        0        0        0        0        0        0
 restecg   thalch    exang  oldpeak    slope       ca     thal      num
       0        0        0        0        0        2        1        0

****Handling Missing Values****

       1.Repeted value
       2.Outlier ditection

In [ ]:
# Show only repeated ones
age_freq <- table(mydata$age)
print("Repeated values in age:")
print(age_freq[age_freq > 1])  

#  'ca'
ca_freq <- table(mydata$ca)
print("Repeated values in ca:")
print(ca_freq[ca_freq > 1])

[1] "Repeated values in age:"

35 37 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62
 3  2  2  2  6  4  7  8  7  3  2  7  2  7 11 10  6 12  5  7 10 11 10 10  4 10
63 64 65 66 67 68 69 70 71
 7  7  8  4  5  3  3  3  2
[1] "Repeated values in ca:"

  0   1   2   3
127  45  24  18

Check outlier

In [ ]:
# Function to check for outliers using the IQR method
check_outliers <- function(column) {
  
  column <- column[!is.na(column)]# Remove NA values before calculating Q1, Q3, IQR
  
  Q1 <- quantile(column, 0.25)
  Q3 <- quantile(column, 0.75)
  IQR <- Q3 - Q1
  lower_bound <- Q1 - 1.5 * IQR
  upper_bound <- Q3 + 1.5 * IQR
  outliers <- column[column < lower_bound | column > upper_bound]
  
  return(outliers)
}

# Check for outliers in 'age' (after converting to numeric)
age_outliers <- check_outliers(mydata$age)
print(paste("Outliers in age:", length(age_outliers)))

# Check for outliers in 'ca'
ca_outliers <- check_outliers(mydata$ca)
print(paste("Outliers in ca:", length(ca_outliers)))

# Decide replacement method for 'age'
if (length(age_outliers) > 0) {
  value_age <- median(mydata$age, na.rm = TRUE)
} else {
  value_age <- mean(mydata$age, na.rm = TRUE)
}

# Replace missing values for 'age' with chosen value (mean or median)
mydata$age <- ifelse(is.na(mydata$age), value_age, mydata$age)

# Repeat for 'ca' column
if (length(ca_outliers) > 0) {
  value_ca <- median(mydata$ca, na.rm = TRUE)
} else {
  value_ca <- mean(mydata$ca, na.rm = TRUE)
}

# Replace missing values for 'ca' with chosen value (mean or median)
mydata$ca <- ifelse(is.na(mydata$ca), value_ca, mydata$ca)

[1] "Outliers in age: 0"
[1] "Outliers in ca: 18"

**Replace missing value**

In [ ]:
# Replace missing values for 'age' column with mean (since it's continuous)
mean_age <- mean(mydata$age, na.rm = TRUE)
mydata$age <- ifelse(is.na(mydata$age), mean_age, mydata$age)

# Replace missing values in 'ca' with mode (0)  since it's discrete and 0 is dominant
mydata$ca <- ifelse(is.na(mydata$ca), 0, mydata$ca)

# Replace missing 'thal' with most frequent value (mode = "normal")
mydata$thal <- ifelse(is.na(mydata$thal), "normal", mydata$thal)

**FOR CHECK**

In [184]:
# Step 1: Make two versions of your dataset
mydata_mode <- mydata
mydata_mean <- mydata

# Step 2: Fill missing 'ca' with mode (0)
mydata_mode$ca <- ifelse(is.na(mydata_mode$ca), 0, mydata_mode$ca)

# Step 3: Fill missing 'ca' with mean
mean_ca <- mean(mydata$ca, na.rm = TRUE)
mydata_mean$ca <- ifelse(is.na(mydata_mean$ca), mean_ca, mydata_mean$ca)

# Step 4: Compare summaries
print("Mode-filled version:")
summary(mydata_mode$ca)

print("Mean-filled version:")
summary(mydata_mean$ca)

[1] "Mode-filled version:"

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 0.0000  0.0000  0.0000  0.6806  1.0000  3.0000

[1] "Mean-filled version:"

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 0.0000  0.0000  0.0000  0.6806  1.0000  3.0000

**Convert age and thal to cata**

In [185]:
# Convert 'age' to categorical (young, middle-aged, old)
mydata$age_category <- ifelse(mydata$age <= 30, "young", 
                              ifelse(mydata$age <= 60, "middle-aged", "old"))

# Convert 'thal' to numeric (1 = normal, 2 = fixed defect, 3 = reversable defect)
mydata$thal_numeric <- ifelse(mydata$thal == "normal", 1, 
                              ifelse(mydata$thal == "fixed defect", 2, 3))



head(mydata[, c("age", "age_category", "thal", "thal_numeric")])

# Convert 'age' to categorical (young, middle-aged, old)
mydata$age <- ifelse(mydata$age <= 30, "young", 
                     ifelse(mydata$age <= 60, "middle-aged", "old"))

# Convert 'thal' to numeric (1 = normal, 2 = fixed defect, 3 = reversable defect)
mydata$thal <- ifelse(mydata$thal == "normal", 1, 
                      ifelse(mydata$thal == "fixed defect", 2, 3))

# Verify the changes by checking the first few rows of the updated dataframe
head(mydata[, c("age", "thal")])

  age age_category thal              thal_numeric
1 63  old          fixed defect      2
2 67  old          normal            1
3 67  old          reversable defect 3
4 37  middle-aged  normal            1
5 41  middle-aged  normal            1
6 56  middle-aged  normal            1

  age         thal
1 old         2
2 old         1
3 old         3
4 middle-aged 1
5 middle-aged 1
6 middle-aged 1

**Normalization for 'trestbps', 'chol', 'thalch'**

In [186]:

mydata$trestbps_normalized <- (mydata$trestbps - min(mydata$trestbps, na.rm = TRUE)) / 
                              (max(mydata$trestbps, na.rm = TRUE) - min(mydata$trestbps, na.rm = TRUE))

mydata$chol_normalized <- (mydata$chol - min(mydata$chol, na.rm = TRUE)) / 
                          (max(mydata$chol, na.rm = TRUE) - min(mydata$chol, na.rm = TRUE))

mydata$thalch_normalized <- (mydata$thalch - min(mydata$thalch, na.rm = TRUE)) / 
                            (max(mydata$thalch, na.rm = TRUE) - min(mydata$thalch, na.rm = TRUE))

mydata$oldpeak_normalized <- (mydata$oldpeak - min(mydata$oldpeak, na.rm = TRUE)) / 
                             (max(mydata$oldpeak, na.rm = TRUE) - min(mydata$oldpeak, na.rm = TRUE))


summary(mydata$trestbps_normalized)
summary(mydata$chol_normalized)
summary(mydata$thalch_normalized)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 0.0000  0.5733  0.6267  0.6382  0.6800  1.0000

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
0.00000 0.02612 0.03454 0.04050 0.04491 1.00000

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 0.0000  0.4474  0.5833  0.5540  0.6842  1.0000

**Remove duplicate rows**

In [187]:
mydata_no_duplicates <- mydata[!duplicated(mydata), ]
# Check the result
nrow(mydata_no_duplicates)

[1] 216

*FILter id*

In [188]:
# Check if 'age_category' column has valid categories
valid_age_categories <- c("young", "middle-aged", "old")

# Replace invalid 'age_category' values with NA (if any unexpected categories exist)
mydata$age_category[!(mydata$age_category %in% valid_age_categories)] <- NA  # Invalid age categories

# Check the result
table(mydata$age_category)  # Check if there are any invalid values

middle-aged         old       young
        158          57           1

In [189]:
head(mydata)

  id age         sex    dataset   cp              trestbps chol fbs
1 1  old         Male   Cleveland typical angina  145      233   TRUE
2 2  old         Male   Cleveland asymptomatic    160      286  FALSE
3 3  old         Male   Cleveland asymptomatic    120      229  FALSE
4 4  middle-aged Male   Cleveland non-anginal     130      250  FALSE
5 5  middle-aged Female Cleveland atypical angina 130      204  FALSE
6 6  middle-aged Male   Cleveland atypical angina 120      236  FALSE
  restecg        thalch ⋯ slope       ca thal num age_category thal_numeric
1 lv hypertrophy 150    ⋯ downsloping 0  2    0   old          2
2 lv hypertrophy 108    ⋯ flat        3  1    1   old          1
3 lv hypertrophy 129    ⋯ flat        2  3    1   old          3
4 normal         187    ⋯ downsloping 0  1    0   middle-aged  1
5 lv hypertrophy 172    ⋯ upsloping   0  1    0   middle-aged  1
6 normal         178    ⋯ upsloping   0  1    0   middle-aged  1
  trestbps_normalized chol_normalized thalch_normalized oldpeak_normalized
1 0.7066667           0.03080023      0.5438596         0.3709677
2 0.7866667           0.04605642      0.1754386         0.2419355
3 0.5733333           0.02964882      0.3596491         0.4193548
4 0.6266667           0.03569372      0.8684211         0.5645161
5 0.6266667           0.02245250      0.7368421         0.2258065
6 0.5733333           0.03166379      0.7894737         0.1290323

In [190]:
head(mydata)

  id age         sex    dataset   cp              trestbps chol fbs
1 1  old         Male   Cleveland typical angina  145      233   TRUE
2 2  old         Male   Cleveland asymptomatic    160      286  FALSE
3 3  old         Male   Cleveland asymptomatic    120      229  FALSE
4 4  middle-aged Male   Cleveland non-anginal     130      250  FALSE
5 5  middle-aged Female Cleveland atypical angina 130      204  FALSE
6 6  middle-aged Male   Cleveland atypical angina 120      236  FALSE
  restecg        thalch ⋯ slope       ca thal num age_category thal_numeric
1 lv hypertrophy 150    ⋯ downsloping 0  2    0   old          2
2 lv hypertrophy 108    ⋯ flat        3  1    1   old          1
3 lv hypertrophy 129    ⋯ flat        2  3    1   old          3
4 normal         187    ⋯ downsloping 0  1    0   middle-aged  1
5 lv hypertrophy 172    ⋯ upsloping   0  1    0   middle-aged  1
6 normal         178    ⋯ upsloping   0  1    0   middle-aged  1
  trestbps_normalized chol_normalized thalch_normalized oldpeak_normalized
1 0.7066667           0.03080023      0.5438596         0.3709677
2 0.7866667           0.04605642      0.1754386         0.2419355
3 0.5733333           0.02964882      0.3596491         0.4193548
4 0.6266667           0.03569372      0.8684211         0.5645161
5 0.6266667           0.02245250      0.7368421         0.2258065
6 0.5733333           0.03166379      0.7894737         0.1290323

In [191]:
# 1. Handle invalid 'age' (e.g., negative or unrealistic ages)
mydata$age[mydata$age < 18 | mydata$age > 100] <- NA  # Invalid age range


valid_sex_values <- c("Male", "Female")
mydata$sex[!(mydata$sex %in% valid_sex_values)] <- NA  

# 3. Handle invalid 'chol' (cholesterol must be between 100 and 500)
mydata$chol[mydata$chol < 100 | mydata$chol > 500] <- NA  # Cholesterol levels

# 4. Handle invalid 'trestbps' (resting blood pressure must be between 50 and 200)
mydata$trestbps[mydata$trestbps < 50 | mydata$trestbps > 200] <- NA  # Blood pressure

# 5. Handle invalid 'fbs' (must be TRUE or FALSE)
valid_fbs_values <- c(TRUE, FALSE)
mydata$fbs[!(mydata$fbs %in% valid_fbs_values)] <- NA  # Invalid fasting blood sugar

# 6. Handle invalid 'restecg' (must be valid categories like "normal", "lv hypertrophy")
valid_restecg_values <- c("normal", "lv hypertrophy", "st-t wave abnormality")
mydata$restecg[!(mydata$restecg %in% valid_restecg_values)] <- NA  # Invalid restecg values

# 7. Handle invalid 'thalch' (heart rate should be between 60 and 200)
mydata$thalch[mydata$thalch < 60 | mydata$thalch > 200] <- NA  # Invalid heart rate

# 8. Handle invalid 'oldpeak' (ST depression must be between 0 and 6)
mydata$oldpeak[mydata$oldpeak < 0 | mydata$oldpeak > 6] <- NA  # Invalid oldpeak

# 9. Handle invalid 'ca' (should be between 0 and 3)
mydata$ca[mydata$ca < 0 | mydata$ca > 3] <- NA  # Invalid number of vessels

# 10. Handle invalid 'thal' (invalid categories like "?", "unknown")
valid_thal_values <- c("normal", "fixed defect", "reversable defect")
mydata$thal[!(mydata$thal %in% valid_thal_values)] <- NA  # Invalid thal values

# 11. Handle invalid 'num' (must be 0 or 1)
mydata$num[!(mydata$num %in% c(0, 1))] <- NA  # Invalid num values

# 12. Handle invalid 'dataset' (if necessary, assume correct values like "Cleveland", "Hungarian", etc.)
valid_dataset_values <- c("Cleveland", "Hungarian", "Switzerland", "Indian")
mydata$dataset[!(mydata$dataset %in% valid_dataset_values)] <- NA  # Invalid dataset values

# 13. Replace invalid values in 'thal' (e.g., "?") with mode (if necessary)
mydata$thal[mydata$thal == "?"] <- "normal"  # Replace missing values in 'thal' with mode

# Check the updated dataset for invalid entries and missing values
colSums(is.na(mydata))  # Check for missing values after handling invalid data

                 id                 age                 sex             dataset
                  0                 216                   1                   0
                 cp            trestbps                chol                 fbs
                  0                   1                   2                   0
            restecg              thalch               exang             oldpeak
                  0                   1                   0                   1
              slope                  ca                thal                 num
                  0                   0                 216                   0
       age_category        thal_numeric trestbps_normalized     chol_normalized
                  0                   0                   0                   0
  thalch_normalized  oldpeak_normalized
                  0                   0